.btn-btn {
    display: inline-block;
    outline: none;
    padding: 50px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight:bold;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    background-color: #06268D;
    color: white;
    transition: background-color 0.17s ease, color 0.17s ease;
}

