.cps-container {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 10%;
    transition: all 0.3s ease;
    background-color: black;
}



.cps-form {
    width: 400px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.cps-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cps-form-group {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
}

.cps-input-icon {
    position: relative;
    display: flex;
    align-items: center;
}
.cps-input {
    width: 380px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.cps-icon {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
   font-size: 22px;
}

.cps-error {
    color: #E74C3C;
    font-size: 14px;
    margin-top: 5px;
}

.cps-submit-btn {
display: inline-block;
    outline: none;
    padding: 50px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
 width: 100%;
    min-height: 32px;
    border: none;
    background-color: #06268D;
    color: white;
    transition: background-color 0.17s ease, color 0.17s ease;

}




