.employee-ring-chart-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 10px;
    outline-style: none;
   
    transition: all 0.3s ease;
}

.employee-ring-chart-title {
    margin-left: 33%;
    margin-top: 5%;
    color: #ACACAC;
    overflow: hidden;
}